// （//）表示注释行，读取时会忽略
// 配置文件名ssh-forward.config不可修改
// 数据格式：连接名称,SSH-IP,SSH-Port,SSH-User,SSH-Password,远程服务器IP,远程服务器Port,本地映射端口
// 若SSH-Password本身包含‘,’，请用%CS%替换掉‘,’，exp: System,2o22 => System%CS%2o22
// exp: 141-MYSQL,113.249.91.141,8024,root,System@2o22,192.168.0.115,31182,31182
SOCKS,514b62583ebcc338.natapp.cc,65522,root,)czeb@CY-46Q%CS%'05,-dynamic,0,65522
DEV-ROCKETMQ,514b62583ebcc338.natapp.cc,65522,root,)czeb@CY-46Q%CS%'05,10.106.251.249,9876,9876